{% extends "base.html" %}

{% block title %}会议注册{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block head %}
    <style>
        .register tr {
            text-align: left;
            padding: 10px 0 10px;
        }

        .register td {
            width: 450px;
        }

        .register th label {
            float: right;
            font-size: larger;
            font-weight: normal;
            padding-right: 20px;
        }

        .register input, select {
            background-color: #FDFAFA;
            border: solid 1px #ccc;
            width: 400px;
            height: 30px;
            font-size: 16px;
        }

        .submit {
            float: left;
            margin-top: 20px;
            margin-left: 115px;
            padding: 10px 15px 10px 15px;
            background-color: #FDFAFA;
            border: solid 1px #ccc;
        }
        .submit:hover {
            background-color: rgba(241, 174, 174, 0.4);
        }
        .helptext {
            float: right;
            margin-top: -30px;
            color: #0000ff
        }
        .confirm_user{margin-left: 205px;}
    </style>
{% endblock %}

{% block content %}
    <div class="position">
        当前位置：
        <a href="{% url "index" %}">首页</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
        <a href={% url "download" %}>资料下载</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
        <a>验证姓名</a>
    </div>
    <div class="clear h20"></div>
    <div class="fr rightPart">
        <p style="font-size: 18px; margin-bottom: 30px;">
            下载文件需要输入您的注册邮箱
        </p>
        <p>下载文件： <strong style="font-size: 15px;">{{ filename }}</strong></p>
        <form action="" method="POST">{% csrf_token %}
            <table class="register">
                <tr>
                    <th><label for="id_email">Email:</label></th>
                    <td>
                        <input id="id_email" maxlength="200" name="email" type="text"/><br/><span class="helptext">必填</span>
                    </td>
                </tr>
            </table>
            <input class="submit confirm_user" type="submit" value="提交验证"/>
        </form>

    </div>
{% endblock %}